.hdr {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hdr h2 {
    font-family: monospace;
    margin-left: 30px;
    margin-left: -600px;
    color: black;
}
.hdr a {
    text-decoration: none;
    margin-right: 20px;
    transition: all 2s;
}
.main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h2 {
    text-align: center;
    margin-top: 20px;
}
.main p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.strt {
    height: 50px;
    width: 200px;
    border: none;
    outline: none;
    box-shadow: 4px 4px 30px gray;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #ffff;
    transition: transform 0.2s;
}
.strt:hover {
    background-color: green;
    transform: scale(1.05); 
}
.footer-cont {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 300px;
}
.footer-cont footer {
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-direction: column;
}
.footer-cont .navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer-cont .navbar  a  {
    text-decoration: none;
    color: lightgray;
    transition: color 2s;
}
.footer-cont .navbar  a:hover{
    color: white;
}
.footer-cont p {
    margin-top: 50px;
}
/* Dropdown Button */
.dropbtn {
    background-color: inherit;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: lightgray;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  @media screen and (max-width: 800px) {
        .dropbtn {
            display: block;
        }
        .hdr h2 {
            margin-left: 0;
            margin-right: 200px;    
        }
        .hdr nav {
            display: none;
        }
        .hdr {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
  } 
  .cs {
    background-color: #4285F4;
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
    box-shadow: 4px 4px  30px #3b78da;
    color: white;
}
.tests {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}
li {
    font-size: 20px;
}
ul {
    text-align: center;
}
.answer-1 {
    text-align: center  ;
}
.title {
    text-align: center;
}
.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.answers-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.note {
    background-color: rgb(232, 232, 126);
    border-radius: 10px;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px gray;

}
.card {
   border: 1px solid gray;
}
